* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.App {
  text-align: center;
}

.upload-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

.ant-layout-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-layout-header h1 {
  margin: 0;
  color: #1890ff;
  font-size: 2em;
}

.ant-layout-header p {
  margin: 0;
  color: #666;
}

.ant-layout-sider {
  border-right: 1px solid #f0f0f0;
}

.ant-upload {
  width: 100%;
}

.ant-btn {
  margin-right: 8px;
}
textarea {
  resize: none !important;
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
